<h3>Damaged items </h3>

<p>Unless faulty, the following types of items are non-refundable: items that are personalised, bespoke or made-to-order to your specific requirements; items which deteriorate quickly (e.g. food), personal items sold with a hygiene seal (cosmetics, underwear) in instances where the seal is broken.
</p>

<p>All products to be returned must be carefully repackaged with their original packing with tags attached and be in an unworn condition. We will not refund goods that have been worn, do not have their original packaging or show obvious signs of abuse. Goods that are returned to us without their original packaging will be refunded less a deduction of 10%. Goods that show obvious signs of wear or abuse will be returned to the buyer.</p>