<h2>Delivery and Packaging Information</h2>

<h3>Shipping & delivery</h3>

<p>
This item will be posted to you by The Dreaming Hare within 3 days of receiving payment.


<h3>Free Delivery </h3>- 
<p>We send our free delivery items by Royal Mail 2nd class post, which is generally delivered in 2-3 working days from the date of despatch. Some orders may require a signature on delivery. Please note that this is not a guaranteed delivery period, so for time-sensitive items we strongly recommend using our express or nominated day service.</p>

<h3>UK Express or Nominated Day Delivery </h3>
<p>This is complimentary for orders over £100 (excludes Saturday delivery). Otherwise it costs £5.95 per order for delivery Monday-Friday and £7.95 for delivery on a Saturdays. Your order will be sent by Royal Mail Special Delivery which will ensure delivery before 1pm on the chosen date. This service requires a signature on receipt.  Delivery to some remote areas of the UK such as the Highlands and Islands may take longer, so we cannot 100% guarantee delivery within the chosen timescale to these areas.
</p>

<h3>International Delivery </h3>
<p>Tracked priority delivery is complimentary for orders over £150. Our standard non tracked service costs £1.95 per order. This service is non tracked and does not require a signature. International tracked priority delivery costs £6.95 per order. We send our international packages by Royal Mail International Signed For or Airsure depending on the destination country (click here for more information). This service may require a signature on receipt. All these items are tracked until they leave the UK – and in some cases on arrival in the destination country
</p>

<h3>Packaging</h3>

<p>Most items are sent to you in the designers packaging e.g. a jewellery pouch or box. You can check the product description for details of packaging. Please rest assured that we always package our items securely and safely. In the interests of the environment we keep packaging materials to a minimum.</p>



