<h2>Payment terms</h2>


<p>We will charge your credit account for payment upon receipt of your order. We accept no liability if a delivery is delayed because you did not give us the correct payment details. If it is not possible to obtain full payment for the goods from your account then we can cancel the contract </p>

<h3>Price</h3>

<p>The prices payable for goods that you order are as set out in our website. All prices are inclusive of VAT at the current rates and are correct at the time of entering information.</p>

<p>Wherever it is not possible to accept your order to buy goods of the specification and description at the price indicated, we will advise you by email, offer to sell you the goods of the specification and description at the price stated in the email and will state the period for which the offer or the price remains valid.</p>