
<h2>Return / Refund Policy</h2>

<p>We operate a 14 day hassle free returns policy and offer a free returns service for our UK based customers. We will reimburse all return postage costs on returns. To request a return, exchange or refund please complete our returns form. If you are not completely satisfied with your purchase, simply return the item or items to us in their original, unworn condition within 14 days of receipt (within 21 days of receipt for international customers) . Please note that your return should be received by us within this period. We will issue a refund within 28 days. We can accept returns of earrings if they have not been removed from the sealed bag they were sent in. If you should receive a faulty or damaged item, please notify us within seven days. We will not process claims for goods received as faulty after this period of time.</p>



<h3>International Customers </h3>
<p> If you are returning an item to us for a refund or an exchange then the cost of returning the item to us is your responsibility.</p>

<p>All products to be returned must be carefully repackaged with their original packing with tags attached and be in an unworn condition. We will not refund goods that have been worn, do not have their original packaging or show obvious signs of abuse. Goods that are returned to us without their original packaging will be refunded less a deduction of 10%. Goods that show obvious signs of wear or abuse will be returned to the buyer.</p>

<p>Returns received outside the returns period time frame are accepted at the discretion of Accessories Online and can only be refunded as a store credit.

In the interests of fraud prevention, your refund will be issued by the same method that you paid. Goods are refunded within 30 days.</p>

<p>You have 14 days, from receipt, to notify the seller if you wish to cancel your order or exchange an item.</p>



<p>We cannot refund or replace lost items until 15 working days after the date of despatch (25 working days for international items) - this is when the Royal Mail classes items as being lost. If your item is time sensitive, we recommend the use of our next day delivery service.</p>

