<h3>General terms and conditions</h3>


<p>These terms and conditions form the basis on which you can visit us and our website. Please read them carefully as they contain important information.</p>

<p>This site is owned and operated by Accessories Online of The Well Barn, Little Crosby Road, Liverpool, L23 4TS. If you have any queries about these terms and conditions or if you have any comments or complaints on or about our website, you can contact us via our “Contact Us” page.</p>

<h3>1. The contract between us</h3>

<p>We must receive payment of the whole of the price for the goods that you order before your order can be accepted. Your payment of the price for the goods represents an offer on your part to purchase the goods, which will be accepted to us when we send to you an email that the goods have been sent to you. Our acceptance of your order brings into existence a legally binding contract between us.</p>

<h3>2.  Ownership of rights</h3>

<p>All rights, including copyright, in this website are owned by or licensed to Accessories Online. Any use of this website or its contents, including copying or storing it or them in whole or part, other than for your own personal, non commercial use, is prohibited without our permission. You may not modify, distribute or repost anything on this website for any purpose without prior permission.</p>

<h>3.  Accuracy of content</h3>

<p>We have taken care in the preparation of the content of this website, in particular to ensure that prices quoted are correct at the time of publishing and that all goods have been fairly described. However, orders will only be accepted if there are no material errors in the description of the goods or their prices as advertised on this website. Any weights, dimensions and capacities given about the goods are approximate only.</p>

<h3>4.  Damage to your computer</h3>

<p>We try to ensure that this website is free from viruses or defects. However, we cannot guarantee that your use of this website or any websites accessible through it will not cause damage to your computer. It is your responsibility to ensure that the right equipment is available to use the website. Except in the case of negligence on our part, we will not be liable to any person for any loss or damage which may arise to computer equipment as a result of using this website.</p>

  <h3>Acknowledgement and acceptance of your order</h3>

<p>You will need to provide us with your e-mail address and we will notify you by e-mail as soon as possible to confirm receipt of your order. An acceptance of your order will take place on despatch of the good(s) ordered.</p>


